@charset "UTF-8"
/*Regra charset caso haja problemas com acentuação*/

body{
    background-color: aquamarine;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 20px;  
}
h1{
    color: brown;
    background-color: aliceblue;
}
h2{
    color: hotpink;
    background-color: blue;
}
p{
    text-align:justify
}
h3{
    color: blue;
    background-color: cyan;
}